<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""/>

        <script src="/node_modules/rss-parser/dist/rss-parser.min.js"></script>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
        
    </head>
    <body>
        <div id="map" style="height:100vh;"></div>
    </body>
    <script>
        var map = L.map('map').setView([38, -98], 5);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        const Http = new XMLHttpRequest();
        const url='/api/events';
        Http.open("GET", url);
        Http.send();
        var res = null;
        Http.onload = (e) => {
            res = JSON.parse(Http.response);
            res.forEach( (x) => {
                console.log(x);
                L.marker([x.prim_lat_dec, x.prim_long_dec]).addTo(map)
                 .bindPopup(x.title + '<br />' + '<a target="_blank" href="'+x.link+'">' + x.link + '</a>');
            })
        }
        // L.marker([51.5, -0.09]).addTo(map)
        //     .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
        //     .openPopup();
        
            </script>

</html>